<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.think.mybatisspring.UserPoMapper">

    <insert id="insertUserPo" parameterType="com.wang.think.mybatisspring.UserPo">
        insert into user (id, username, age, sex)
        values (#{id},#{username}, #{age}, #{sex})
    </insert>
    <select id="getUserPo" resultType="com.wang.think.mybatisspring.UserPo">
        select *
        from user
        where id = #{id}
    </select>
</mapper>